/* @font-face {
  font-family: "productSansRegular";
  src: url("./asset/font/ProductSans-Regular.ttf");
}
@font-face {
  font-family: "productSansBold";
  src: url("./asset/font/ProductSans-Bold.ttf");
}
.font-Regular {
  font-family: "productSansRegular";
}
.font-bold {
  font-family: "productSansBold";
} */

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
