<main class="flex-grow-1">
  <section class="d-flex flex-column align-items-center mt-5">
    <div class="wrapper">
      <div class="logo">
        <img [src]="logo" alt="Logo" class="logo" />
      </div>
      <div class="brand">
        <a routerLink="/" (click)="clearResults()"
          ><span class="brand-name">Slango</span></a
        >
      </div>
    </div>

    <div class="input-group unified-border mb-4">
      <span class="input-group-text no-border rounded-start-pill ps-3">
        <i class="bi bi-search text-white"></i>
      </span>
      <input
        type="search"
        class="form-control no-border rounded-end-pill py-2 ps-2 pe-5"
        placeholder="Type a slang word"
        [(ngModel)]="term"
        (keyup.enter)="search()"
        autofocus
      />
    </div>
  </section>
</main>

<div class="container output mb-5">
  <div *ngFor="let entry of results; let i = index">
    <span class="entry-number">{{ i + 1 }}</span
    ><strong>{{ entry.word }}</strong>
    <span class="definition"
      ><p>{{ entry.meaning }}</p></span
    >
    <div class="example mbgo-2">
      <em>{{ entry.example }}</em>
    </div>
  </div>

  <div *ngIf="searchStarted && results.length === 0">
    <p>No results found.</p>
  </div>
</div>
