a {
  text-decoration: none;
  color: #ffffff;
}
h1 {
  font-size: 5em;
}
/* logo and brand */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 100%;
  max-width: 55px;
  margin-right: 10px;
  padding: 0;
}

.brand-name {
  font-size: 4em;
  font-weight: bold;
  flex: 1;
}
.tagline {
  justify-content: flex-end;
}

/* search box */
.input-group.unified-border {
  max-width: 584px;
  background-color: #0a0a0a;
  border-color: #00e4ff;
}
.unified-border {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: white;
  overflow: hidden;
}

.input-group .input-group-text,
.input-group .form-control {
  background-color: transparent;
  color: #ffffff;
}

.input-group .input-group-text.no-border,
.input-group .form-control.no-border {
  border: none;
  box-shadow: none;
}

.input-group .input-group-text {
  padding-right: 0;
  padding-left: 0.75rem;
}

.input-group .form-control {
  border-radius: 0 24px 24px 0 !important;
  padding-left: 10px !important;
}
/* end search box */

/* output text */
.entry {
  line-height: 1.6;
  margin: 20px;
}

.entry-number {
  font-weight: bold;
  margin-right: 5px;
}

.definition {
  display: inline;
}

.example {
  margin-left: 20px;
  color: #b2b2b2;
  font-style: italic;
  border-left: 3px solid #cfe2ff;
  padding-left: 10px;
}
.output {
  max-width: 1100px;
  width: 100%;
}
/* end output */

input::placeholder {
  color: #b3b3b3;
  opacity: 5;
}

/* mobile responsive */
@media (max-width: 768px) {
  .output {
    margin: 10px;
  }
}

@media (max-width: 426px) {
  .input-group.unified-border {
    max-width: 354px !important;
  }
  h1 {
    font-size: 3em;
  }
  .output {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 376px) {
  .input-group.unified-border {
    max-width: 334px !important;
  }
  h1 {
    font-size: 3em;
  }
  p {
    margin-left: 10px;
  }
}
@media (max-width: 321px) {
  .input-group.unified-border {
    max-width: 342px !important;
  }
  h1 {
    font-size: 3em;
  }
  .output {
    margin: 5px;
  }
}
